* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.homepage { 
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.homepage-title {
  padding-bottom: 2rem;
}

.work-title h2 {
  color: #E94B3CFF;
}

.homepage-body p {
  color: #2D2926FF;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding-top: 4rem;
}

.card {
  flex-direction: row;
  flex-grow: 5;
  justify-content: space-around;
}


img {
  padding: 5rem;
}

.navbar {

  justify-content: right;
}

.contact-title {
  padding-top: 4rem;
}

.contact-title h2 {
  color: #E94B3CFF;
}

.contact-info {
  padding-top: 4rem;
}

.contact-info p {
  color: #2D2926FF;
}

.contact-links {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact-links a {
  color: #E94B3CFF;
  text-decoration: none; 
  font-size: large;
}

.card-link {
  padding-left: 1.5rem;
}

